/* import bootstrap style and svg*/
*{
	box-sizing:border-box;
	margin:0;
	padding:0
}
html,
body {
	height: 100%;
	font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h3{
	text-align:center;
	color: #4FB07D;
}
h5{
	/* text-align:center; */
	color:black;
}
body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main{
	flex:1;  /* make main content grow, push footer to the bottom*/
}
img{
	height:300px;
	object-fit:cover;
}
div.card{
	margin-bottom:2rem;
}
li{
	list-style-type: none;
}
footer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:#4FB07D;
	min-height: 4rem;
	margin-top:3rem;
	padding: 1rem;
	color: white;
}
.navbar-brand{
	color:#0065b3;
}
.navbar-brand:visited,
.navbar-brand:hover {
	color:#0065b3;
}
.logo{
	width:24px;
	height:24px;
}
.btn-primary{
	color:white;
	background-color:#0065b3;
	border-color:#0065b3;
}
.btn-danger{
	color:white;
	background-color:#EC712F;
	border-color:#EC712F;
}

.btn-outline-primary {
	color:#0065b3;
	border-color:#0065b3;
}
.btn-primary:active,
.btn-primary:hover,
.btn-outline-primary:hover{
	color:white ! important;
	background-color:#0065b3 ! important;
	border-color:#0065b3 ! important;
}
.btn-danger:active,
.btn-danger:hover{
	color:white ! important;
	background-color:#EC712F ! important;
	border-color:#EC712F ! important;
}
.btn-outline-primary:active{
	color:#0065b3 ! important;
	background-color: white ! important;
	border-color: #0065b3 ! important;
}